# go package assert
snippet assert "github.com/stretchr/testify/assert"
github.com/stretchr/testify/assert
endsnippet

# go package logrus
snippet logrus "github.com/sirupsen/logrus"
github.com/sirupsen/logrus
endsnippet

# go package gomock
snippet gomock "github.com/golang/mock/gomock"
github.com/golang/mock/gomock
endsnippet

