<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>12779981-072E-4E79-A807-D11E66CD6D5C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jenkins</string>
			<key>text</key>
			<string>jenkins</string>
			<key>url</key>
			<string>https://jenkins.kid17.com/login?from=%2F</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>325FED12-92BF-4BFA-BD63-1C30E8F8A4AE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gm</string>
			<key>text</key>
			<string>github/yaphetsglhf</string>
			<key>url</key>
			<string>https://github.com/yaphetsglhf</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>367CFBA4-8D9F-45A3-A4B4-09961440B6D9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>taobao</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4029B2FA-3326-4117-BDE4-395AE292AC33</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aliconteacher</string>
			<key>text</key>
			<string>alicontainer-graphql-teacher</string>
			<key>url</key>
			<string>https://cr.console.aliyun.com/?spm=5176.2020520152.210.d103.5bad16ddxCnUP0#/dockerImage/cn-shanghai/kid17_backend/graphql-teacher/build</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4EF2E49A-D3DE-4BA2-BEE2-A8FD49070E5D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>alicontainer</string>
			<key>text</key>
			<string>aliyun-container</string>
			<key>url</key>
			<string>https://cr.console.aliyun.com/?spm=5176.2020520152.210.d103.5bad16ddxCnUP0#/imageList</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>520F5171-E5F5-46E9-8302-DE29A2AE6F09</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weibangong</string>
			<key>text</key>
			<string>微办公</string>
			<key>url</key>
			<string>https://www.weibangong.com/index.html#/workBoard/workBench</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>562B7ADA-BC64-411C-9505-BEAAD813039E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>alidms</string>
			<key>text</key>
			<string>aliyun-DMS</string>
			<key>url</key>
			<string>https://dms.console.aliyun.com/#/dms/rsList</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7A418CAB-EA87-4A3F-95F9-10E797D37B46</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aliconauth</string>
			<key>text</key>
			<string>alicontainer-authentication</string>
			<key>url</key>
			<string>https://cr.console.aliyun.com/?spm=5176.2020520152.210.d103.5bad16ddxCnUP0#/dockerImage/cn-shanghai/kid17_backend/authentication-service/detail</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>84019539-D5B2-4F47-B4EE-080A4E7B55F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>90A0BFBA-3FA4-4E59-953C-0D1A9C534DEB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>jingdong</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9974D8A6-FDF0-42E7-85F5-0DC94B89D3C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>alioss</string>
			<key>text</key>
			<string>aliyun-oss</string>
			<key>url</key>
			<string>https://oss.console.aliyun.com/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AA13487E-1336-472B-BBBB-9BDF7A25D805</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aliecs</string>
			<key>text</key>
			<string>aliyun-ECS</string>
			<key>url</key>
			<string>https://ecs.console.aliyun.com/?spm=5176.2020520101.aliyun_sidebar.1.6c7e4df5x0YsbI#/server/region/cn-shanghai</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AF78B103-2747-4D0E-AF14-B7103038D7D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dy</string>
			<key>text</key>
			<string>douyu-dota2</string>
			<key>url</key>
			<string>https://www.douyu.com/directory/game/DOTA2</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BACD62B3-5C69-45D8-919B-B2D8D81DD268</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aliconguardian</string>
			<key>text</key>
			<string>alicontainer-graphql-guardian</string>
			<key>url</key>
			<string>https://cr.console.aliyun.com/?spm=5176.2020520152.210.d103.5bad16ddxCnUP0#/dockerImage/cn-shanghai/kid17_backend/graphql-guardian/detail</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C1893E7E-25BF-4E52-B825-7C1F96F9EE5F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dytt</string>
			<key>text</key>
			<string>电影天堂</string>
			<key>url</key>
			<string>http://www.dytt8.net/html/gndy/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C47A0547-46DC-4E5B-B79B-8F7267913301</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gmail</string>
			<key>text</key>
			<string>gmail</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/0/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9ABC1D2-50FA-40CB-A87F-EF21DA39D4E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E0A5F9A3-A5F1-4763-8D42-2E1FBB269F9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl</string>
			<key>text</key>
			<string>gitlab</string>
			<key>url</key>
			<string>https://git.kid17.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
