<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>84019539-D5B2-4F47-B4EE-080A4E7B55F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>88D04B97-7073-48B2-962D-994E95747470</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>grep</string>
			<key>text</key>
			<string>grep.app</string>
			<key>url</key>
			<string>https://grep.app/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9ABC1D2-50FA-40CB-A87F-EF21DA39D4E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
