<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0242CFFD-9D9D-428A-906E-B469C96D83C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ram</string>
			<key>text</key>
			<string>aliyun-RAM</string>
			<key>url</key>
			<string>https://ram.console.aliyun.com/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>080F7979-C4B3-474A-8D9F-DEC3FF9D4D9B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>harbor</string>
			<key>text</key>
			<string>harbor</string>
			<key>url</key>
			<string>https://harbor.kid17.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0EAB4797-83E2-433E-9CBE-4A1707504857</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oos</string>
			<key>text</key>
			<string>aliyun-oos</string>
			<key>url</key>
			<string>https://oos.console.aliyun.com/cn-shanghai/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>11C19F26-0958-4C50-A4B3-FB2FE4C3C408</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ahas</string>
			<key>text</key>
			<string>aliyunn-ahas</string>
			<key>url</key>
			<string>https://ahas.console.aliyun.com/?spm=a2cb8.12805554.0.0.19551e63xGsnTA#/Summary?ns=default&amp;regionId=cn-shanghai&amp;_k=meic36</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>12779981-072E-4E79-A807-D11E66CD6D5C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jenkins</string>
			<key>text</key>
			<string>jenkins</string>
			<key>url</key>
			<string>https://jenkins.kid17.com/login?from=%2F</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>15644291-1AA2-48BE-B64C-C24AED676A0B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>es</string>
			<key>text</key>
			<string>aliyunn-es</string>
			<key>url</key>
			<string>https://elasticsearch-cn-shanghai.console.aliyun.com/#/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>325FED12-92BF-4BFA-BD63-1C30E8F8A4AE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gm</string>
			<key>text</key>
			<string>github/yaphetsglhf</string>
			<key>url</key>
			<string>https://github.com/yaphetsglhf</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>367CFBA4-8D9F-45A3-A4B4-09961440B6D9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>taobao</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>42359436-1A43-4865-B330-51437073A9BB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dts</string>
			<key>text</key>
			<string>aliyun-dts</string>
			<key>url</key>
			<string>https://dts.console.aliyun.com/#/home/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>449C8E67-AB3E-4CF5-BC31-244CC3ECEF2A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>monitorrds</string>
			<key>text</key>
			<string>aliyun-monitor-rds-production</string>
			<key>url</key>
			<string>https://cloudmonitor.console.aliyun.com/?spm=5176.13597141.favorites.dcms.60101450aUI0UM#/dashboardnew/boardId=7d2defd3-505e-4c30-a7be-d0da7fb0ffc1&amp;boardName=&amp;timeSpan=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4DD6ED66-F105-4433-960B-B9198AC0FC38</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>armsrd</string>
			<key>text</key>
			<string>aliyun-arms-rd</string>
			<key>url</key>
			<string>https://arms.console.aliyun.com/container?regionId=cn-shanghai&amp;clusterId=c69e34335999146db95a96ada71ad10ca#/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>520F5171-E5F5-46E9-8302-DE29A2AE6F09</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weibangong</string>
			<key>text</key>
			<string>微办公</string>
			<key>url</key>
			<string>https://www.weibangong.com/index.html#/workBoard/workBench</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>55A41E1D-F9F3-4917-967F-31C3B2857283</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kafka</string>
			<key>text</key>
			<string>aliyun-kafka</string>
			<key>url</key>
			<string>https://kafka.console.aliyun.com/?spm=5176.12818093.products-recent.dalikafka.488716d0I2TelL#/Index?regionId=cn-shanghai&amp;instanceId=alikafka_pre-cn-v0h1fzfag003</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>562B7ADA-BC64-411C-9505-BEAAD813039E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rds</string>
			<key>text</key>
			<string>aliyun-rds</string>
			<key>url</key>
			<string>https://rdsnext.console.aliyun.com/#/rdsList/cn-shanghai/basic/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57BD743E-5D9E-40F4-B597-B600886F0D4F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mongo</string>
			<key>text</key>
			<string>aliyun-mongo</string>
			<key>url</key>
			<string>https://mongodb.console.aliyun.com/replicate/cn-shanghai/instances?spm=5176.13597141.favorites.ddds.60101450XdRneJ</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5891248F-576C-4B6F-877A-ABBC66A6870D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>slb</string>
			<key>text</key>
			<string>aliyun-slb</string>
			<key>url</key>
			<string>https://slb.console.aliyun.com/slb/cn-shanghai/slbs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>62B60CA7-86FA-4348-A04E-A2B16E373042</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pdd</string>
			<key>text</key>
			<string>拼多多</string>
			<key>url</key>
			<string>https://mms.pinduoduo.com/home/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>64BE014C-6456-47EF-A34A-B15316BDB74E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>loginram</string>
			<key>text</key>
			<string>aliyun-ram-login</string>
			<key>url</key>
			<string>https://signin.aliyun.com/1738934196280736/login.htm</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6A72558D-2CD4-428C-A372-D5D597E8E407</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>audit</string>
			<key>text</key>
			<string>aliyun-audit</string>
			<key>url</key>
			<string>https://cis.console.aliyun.com/cluster/cn-shanghai/c3c106d89ac2d4294b22b00dadd56f4f8/audit</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6DB2A279-E0B3-4FCA-A308-2F6DAEDA3435</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dns</string>
			<key>text</key>
			<string>aliyun-dns</string>
			<key>url</key>
			<string>https://dns.console.aliyun.com/#/dns/setting/kid17.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>76592786-51F8-4470-91DC-CAAC76805524</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taobao</string>
			<key>text</key>
			<string>淘宝网</string>
			<key>url</key>
			<string>https://www.taobao.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7BEAC382-10DA-4A48-89D7-0F5FF82196A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>armsp</string>
			<key>text</key>
			<string>aliyun-arms-prod</string>
			<key>url</key>
			<string>https://arms.console.aliyun.com/container?regionId=cn-shanghai&amp;clusterId=c3c106d89ac2d4294b22b00dadd56f4f8#/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>84019539-D5B2-4F47-B4EE-080A4E7B55F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>90A0BFBA-3FA4-4E59-953C-0D1A9C534DEB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>jingdong</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>997237D2-4A80-48E6-B459-248D2B225DD4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ecs</string>
			<key>text</key>
			<string>aliyun-ecs</string>
			<key>url</key>
			<string>https://ecs.console.aliyun.com/#/server/region/cn-shanghai</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9974D8A6-FDF0-42E7-85F5-0DC94B89D3C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oss</string>
			<key>text</key>
			<string>aliyun-oss</string>
			<key>url</key>
			<string>https://oss.console.aliyun.com/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9C97EE3E-E719-40D5-91C8-6CA5904AD9B9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>artifact</string>
			<key>text</key>
			<string>artifact</string>
			<key>url</key>
			<string>https://artifact.kid17.com/artifactory/webapp/#/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AA13487E-1336-472B-BBBB-9BDF7A25D805</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nodesrd</string>
			<key>text</key>
			<string>aliyun-k8s-nodes-rd</string>
			<key>url</key>
			<string>https://cs.console.aliyun.com/?spm=5176.8465980.favorites.dcos.4e701450N32VAr#/k8s/cluster/c69e34335999146db95a96ada71ad10ca/node?clusterType=ManagedKubernetes&amp;profile=&amp;state=running&amp;region=cn-shanghai</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AE56C901-FA4D-4013-9518-E40BF6D17B35</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aliyun</string>
			<key>text</key>
			<string>aliyunn-Home</string>
			<key>url</key>
			<string>https://homenew.console.aliyun.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AF78B103-2747-4D0E-AF14-B7103038D7D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dy</string>
			<key>text</key>
			<string>douyu-dota2</string>
			<key>url</key>
			<string>https://www.douyu.com/directory/game/DOTA2</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B1196150-E2BC-49FE-92EA-A7717B056098</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jops</string>
			<key>text</key>
			<string>JenkinsOps</string>
			<key>url</key>
			<string>http://jenkins.ops.kid17.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C1893E7E-25BF-4E52-B825-7C1F96F9EE5F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dytt</string>
			<key>text</key>
			<string>电影天堂</string>
			<key>url</key>
			<string>http://www.dytt8.net/html/gndy/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C47A0547-46DC-4E5B-B79B-8F7267913301</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gmail</string>
			<key>text</key>
			<string>gmail</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/0/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CC844E76-3EAB-4FC2-8B1F-8193001285E2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vpc</string>
			<key>text</key>
			<string>aliyun-vpc</string>
			<key>url</key>
			<string>https://vpc.console.aliyun.com/vpc/cn-shanghai/vpcs?spm=5176.11182174.products-recent.dvpc.15a74882cUvpXH</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9ABC1D2-50FA-40CB-A87F-EF21DA39D4E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E0A5F9A3-A5F1-4763-8D42-2E1FBB269F9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl</string>
			<key>text</key>
			<string>gitlab</string>
			<key>url</key>
			<string>https://git.kid17.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E630C8E0-BFC4-4FF8-95BB-A192CB7F09BF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nodesp</string>
			<key>text</key>
			<string>aliyun-k8s-nodes-production</string>
			<key>url</key>
			<string>https://cs.console.aliyun.com/?spm=5176.8465980.favorites.dcos.4e701450N32VAr#/k8s/cluster/c3c106d89ac2d4294b22b00dadd56f4f8/node?clusterType=ManagedKubernetes&amp;profile=&amp;state=running&amp;region=cn-shanghai</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EC3D4C57-78EB-4010-B88C-E0327E8A0CC8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>redis</string>
			<key>text</key>
			<string>aliyunn-redis</string>
			<key>url</key>
			<string>https://kvstorenext.console.aliyun.com/?spm=5176.13597141.favorites.dkvstore.60101450jzIlYN#/home/cn-shanghai</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EDFDA496-49B8-4CEE-BE06-BC06085EFBE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>k8s</string>
			<key>text</key>
			<string>aliyun-k8s</string>
			<key>url</key>
			<string>https://cs.console.aliyun.com/?spm=5176.8465980.favorites.dcos.4e701450N32VAr#/k8s/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F0ABE51F-3556-4AE5-9BC4-D61A0C0EC157</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nas</string>
			<key>text</key>
			<string>aliyun-nas</string>
			<key>url</key>
			<string>https://nasnext.console.aliyun.com/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F615D816-4B56-4E07-B1ED-540ED4718E04</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sls</string>
			<key>text</key>
			<string>aliyun-sls</string>
			<key>url</key>
			<string>https://sls.console.aliyun.com/lognext/profile</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FB5FC139-EBF3-42CC-87E1-B88D3CD2F756</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>image</string>
			<key>text</key>
			<string>aliyun-image</string>
			<key>url</key>
			<string>https://cr.console.aliyun.com/cn-shanghai/instances/repositories</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
